header a{
    font-size: 1.9em;
    text-decoration: none;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.7em;
}
p{
    font-size: 1.3em;
}
header{
    text-align: center;
}
header li{
    padding: 15px 0;
}
header a{
    padding: 10px;
    color: black;
}
header a:hover, header a:focus{
    background-color: #222222;
    color: white;
}
@media all and (min-width: 1170px) {
    header{
        position: fixed;
        width: 20vw;
        height: 100%;
        padding: 10vh 2vw;
        text-align: center;
        border-right: 2px black solid;
    }
    main{
        margin-left: 20vw;
    }
}
.gallery img, .collaborations img, .store img{
    max-width: 400px;
    max-height: 500px;
}
form{
    margin: auto;
}
.home{
    height: 100vh;
    background: url('../images/Yoshitaka.jpg') center no-repeat;
}
.intro{
    padding: 20vw;
    font-size: 2em;
    color: white;
}
header a {
    text-transform: uppercase;
    font-family: coolvetica, sans-serif;
    font-weight: 700;    
    font-style: normal;  
}
header h1{
    margin-bottom: 8vw;
}
.gallery, .collaborations, .store{
    display:flex;
}
.ifrit{
    padding: 0 5vw;
}